.StoryListItem {
  margin: .5rem 0;
  border-bottom: 1px solid #999;
}

.StoryScore {
  font-size: .9rem;
  min-width: 4rem;
  display: inline-block;
  text-align: center;
}

.StoryListItem .StoryTitle {
  max-width: 525px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}


.StoryTitle {
  font-size: 1.1rem;
  display: inline-block;
  margin-right: 1rem;
}

.StoryBy {
  font-size: .7rem;
  display: inline-block;
}

.StoryTime {
  font-size: .7rem;
  display: inline-block;
  margin-right: 1rem;
}

.StoryLink {
  font-size: .6rem;
  display: inline-block;
}

.StoryLink a {
  margin-right: .25rem;
}