.story-list-item {
  margin: .5rem 0;
  border-bottom: 1px solid #999;
}

.story-score {
  font-size: .9rem;
  min-width: 4rem;
  display: inline-block;
  text-align: center;
}

.story-list-item .story-title {
  max-width: 600px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}


.story-title {
  font-size: 1.1rem;
  display: inline-block;
  margin-right: 1rem;
}

.story-by {
  font-size: .7rem;
  display: inline-block;
}

.story-time {
  font-size: .7rem;
  display: inline-block;
  margin-right: 1rem;
}

.story-link {
  font-size: .6rem;
  display: inline-block;
}

.story-link a {
  margin-right: .25rem;
}