body {
  margin: 0;
  padding: 0;
  background-color: #bbbbbb;
  font-family: sans-serif;
}

a {
  color: #222;
  text-decoration: none;
}

a:visited {
  color: #777;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
}